<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DB" value="Data Source=.\SQLExpress;Initial Catalog=BlockchainIndexer;Integrated Security=True"/>
    <add key="MainNetApi" value="https://eth-mainnet.g.alchemy.com/v2/"/>
    <add key="ApiKey" value=""/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>